//故事列表

.story-deco1 {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    position: absolute;
    top: 32px;
    width: 150px;
  }
}

.page-arrow {
  border-radius: 12px;
  background-color: white;
  color: $gray;
  &:hover {
    background-color: white;
    color: $primary;
  }
  &:focus {
    background: white;
    color: $primary;
  }
}

.story-card img {
  height: 227px;
  object-fit: cover;
  @include media-breakpoint-up(lg) {
    width: 50%;
    height: 320px;
  }
  @include media-breakpoint-up(xl) {
    width: 50%;
    height: 414px;
  }
}

.story-deco2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 120px;
  @include media-breakpoint-up(lg) {
    width: 400px;
  }
}
